<h3>Add A Node</h3>

<form method="post" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="nodeIp">IP</label>
        <div class="controls">
            <input type="text" name="nodeIp" id="nodeIp" placeholder="127.0.0.1" />
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="nodeHostname">Hostname</label>
        <div class="controls">
            <input type="text" name="nodeHostname" id="nodeHostname" placeholder="domain.com" />
        </div>
    </div>
    
    <div class="control-group">
        <div class="controls">
            <button type="submit" name="saveNode" class="btn">Save Node</button>
        </div>
    </div>
</form>