<h3>Overview</h3>
<h4>Tasks overview</h4>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Jobs active</th>
            <th>Total runs</th>
            <th>Currently running</th>
            <th>Failuress</th>
            <th>Job success rate</th>
        </tr>
    </thead>
    <tbody>
        %taskOverview%
    </tbody>
</table>

<h4>Nodes overview</h4>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Number of Nodes active</th>
            <th>Job average runtime</th>
        </tr>
    </thead>
    <tbody>
        %nodeOverview%
    </tbody>
</table>